h2.main-title {
  color: #2b2b2b;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 10px;
} 

.main-products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-product {
  width: 31%;
  margin: 0 2% 40px 0;
}

.main-product-title {
  font-size: 20px;
}

.main-product-description {
  font-size: 16px;
  line-height: 16px;
}

.main-product-image {
  width: 100%;

}

.product-prices p {
  margin: 0px 0;
  font-size: 12px;
  text-align: left;
}

.product-prices p span.price-con {
  font-weight: 600;
  font-size: 13px;
}