.main-slider {
  background-color: aqua;
}

.slider-btn-container {
  text-align: center;
}

.slider-btns li {
  display: inline;
  text-indent: -9999px;
  margin: 2px;

  a {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url('/images/slide-btn.png') no-repeat center center;
  }

  a.active-slide, .slider-btns li a:hover {
    background: url('/images/slide-btn-active.png') no-repeat center center;
  }
}  