.container {
  display: flex;

  .main-content {
    background-color: gray;
    width: 80%;
  }

  .sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;

    .categories-sidebar {
      .aside-title {
        color: #fff;
        font-size: 22px;
        font-weight: 200;
        background: url('/images/aside-title-banner.png') no-repeat left center;
        width: 241px;
        height: 49px;
        margin: 10px 0 0 -17px;
        line-height: 42px;
        padding: 0 0 0 30px;        
      }

      .aside-menu {

        li {
          border-bottom: 1px solid #ddd;
          font-size: 17px;
          position: relative;       
          
          a {
            background: url('/images/list-point.png') no-repeat 10px 6px;
            padding: 0px 12px 8px 25px;
            display: inline-block;            
          }
        }
      }

      ul.aside-menu > li > a.aside-active, ul.aside-sub-menu li a.aside-active {
        color: #d41b29;
      }
      
      .aside-sub-menu {
        margin: 0px 0px 0px 30px;
      }
      
    }
    .discounts-sidebar {
      background-color: darkgreen;
    }
    .contact-sidebar {
      background-color: lightpink;
    }
    .information-sidebar {
      background-color: limegreen;
    }
  }

  .main-slider {
    margin: 20px 30px 0px 30px;
    background-color: aqua;
  }

  .slider-btn-container {
    text-align: center;
  }

  .slider-btns li {
    display: inline;
    text-indent: -9999px;
    margin: 2px;

    a {
      display: inline-block;
      height: 15px;
      width: 15px;
      background: url('/images/slide-btn.png') no-repeat center center;
    }

    a.active-slide, .slider-btns li a:hover {
      background: url('/images/slide-btn-active.png') no-repeat center center;
    }
  }  

}

