/*

Title: Global Style Sheet for
Author: mikeeaton
Date: 18th July 2015
*/

/* ==========================================================================
NORMALIZE
========================================================================== */

/*--- HTML5 Display Definitions ---*/

/* Correct `block` display not defined in IE 6/7/8/9 and Firefox 3 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/* Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* Prevent modern browsers from displaying `audio` without controls / Remove excess height in iOS 5 devices */

audio:not([controls]) {
    display: none;
    height: 0;
}

/* Address styling not present in IE 7/8/9, Firefox 3, and Safari 4 / Known issue: no IE 6 support */

[hidden] {
    display: none;
}

/*--- Base ---*/

/* 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Address `font-family` inconsistency between `textarea` and other form elements */

html,
button,
input,
select,
textarea {
	font-family: "Helvetica Neue", sans-serif;
}

/* Address margins handled incorrectly in IE 6/7 */

body {
    margin: 0;
}

/*--- Links ---*/

/* Address `outline` inconsistency between Chrome and other browsers */

a:focus {
    outline: thin dotted;
}

/* Improve readability when focused and also mouse hovered in all browsers */

a:active,
a:hover {
    outline: 0;
}

/* Address styling not present in IE 7/8/9, Safari 5, and Chrome */

abbr[title] {
    border-bottom: 1px dotted;
}

/* Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome */

blockquote {
    margin: 1em 40px;
}

/* Address styling not present in Safari 5 and Chrome */

dfn {
	font-style: italic;
}

/* Address differences between Firefox and other browsers. Known issue: no IE 6/7 normalization */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/* Address styling not present in IE 6/7/8/9 */

mark {
    background: #ff0;
    color: #000;
}

/* Address margins set differently in IE 6/7 */

p,
pre {
    margin: 1em 0;
}

/* Correct font family set oddly in IE 6, Safari 4/5, and Chrome */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Address CSS quotes not supported in IE 6/7 */

q {
    quotes: none;
}

/* Address `quotes` property not supported in Safari 4 */

q:before,
q:after {
    content: '';
    content: none;
}

/* Address inconsistent and variable font size in all browsers */

small {
    font-size: 80%;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/*--- Lists ---*/

/* Address margins set differently in IE 6/7 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0;
}

/* Address paddings set differently in IE 6/7 */

menu,
ol,
ul {
    padding: 0;
}

li {
	list-style-type: none;
}

/* Correct list images handled incorrectly in IE 7 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/*--- Embedded content ---*/

/*
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/* Correct overflow displayed oddly in IE 9 */

svg:not(:root) {
    overflow: hidden;
}

/*--- Figures ---*/

/* Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11 */

figure {
    margin: 0;
}

/*--- Forms ---*/

/* Correct margin displayed oddly in IE 6/7 */

form, label {
    margin: 0;
}

/* Define consistent border, margin, and padding */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/* Address Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet */

button,
input {
    line-height: normal;
}

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/* Re-set default cursor for disabled elements */

button[disabled],
html input[disabled] {
    cursor: default;
}

/*
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/* Remove inner padding and search cancel button in Safari 5 and Chrome on OS X */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* Remove inner padding and border in Firefox 3+ */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/*--- Tables ---*/

/* Remove most spacing between table cells */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* General Styles */

body {
	background: #e7e6e6;
}

p, li {
	color: #2b2b2b;
	font-size: 15px;
	line-height: 18px;
}

a:link, a:visited {
	text-decoration: none;
	color: #2b2b2b;
}

a:hover, a:active {
	color: #d41b29;
	text-decoration: none;
}

.main-wrapper {
	width: 980px;
	margin: 40px auto;
	background: #fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.clear-fix:after {
	content: ".";
	display:block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

.page-container {
	padding: 16px 10px;
}

.main-sidebar {
	width: 210px;
	float: left;
	margin: 0 10px 0 0;
}

.main-content {
	width: 710px;
	margin: 0 0 0 10px;
	float: right;
}

::-webkit-input-placeholder {
   color: #2b2b2b;
}

:-moz-placeholder { /* Firefox 18- */
   color: #2b2b2b;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2b2b2b;
}

:-ms-input-placeholder {
   color: #2b2b2b;
}

/* Header */

.logo-section {
	float: left;
}

.logo-section h1 {
	margin: 0;
}

.logo-section h1.logo a {
	width: 435px;
	height: 83px;
	display: inline-block;
	background: url(../images/logo.png) no-repeat center center;
	text-indent: -9999px;
	margin: 40px;
}

.header-labels {
	float: left;
	width: 211px;
	margin: -12px 0 0 0;
}

.header-details {
	float: right;
	padding: 20px 20px 0;
	width: 210px;
}

.header-details ul {
	margin: 14px 0;
}

.header-details ul li {
	text-align: right;
	margin: 0 0 10px 0
}

.header-details ul li a:link, .header-details ul li a:visited {
	color: #2f2f2f;
	display: inline-block;
}

.header-details ul li a:hover, .header-details ul li a:active {
	color: #d41b29;
}

.header-details ul li.cart-box {
	background: #eeeeee;
	padding: 10px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: left;
}

.header-cart {
	background: url(../images/cart-icon.png) no-repeat left center;
	padding: 0 0 0 40px;
}

a.user-login {
	background: url(../images/user-icon.png) no-repeat left center;
	padding: 0 0 0 20px;
	font-size: 18px;
}

a.user-logout {
	background: url(../images/logout-icon.png) no-repeat left center;
	padding: 0 0 0 20px;
}

.error-notification {
	background: #e05a65;
}

.error-notification p {
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 7px 0 4px;
	font-size: 18px;
}

/* Main Nav */

.nav-bar {
	background: url(../images/main-nav-bg.png) no-repeat center center;
	height: 61px;
	overflow: visible;
	width: 1014px;
	margin: 5px 0 0 -17px
}

ul.main-nav {
	margin: 0;
	padding: 0 30px;
	position: relative;
}

ul.main-nav li:first-child {
	margin-right: 10;
}

a.menu-link {
	display: none;
	background: url(../images/nav-arrow.png) no-repeat right center;
	padding: 0 24px 0 0;
}

ul.sub-menu-list {
	display: none;
	background: rgba(0, 0, 0, 0.7);
	width: 180px;
	position: absolute;
	top: 36px;
	left: 328px;
	z-index: 1;
}

ul.sub-menu-list > li {
	display: block;
}

ul.sub-menu-list > li a:link, l.sub-menu-list li > a:visited {
	padding: 6% 8%;
	display: block;
	width: 84%;
}

ul.sub-menu-list > li a:hover, l.sub-menu-list > li a:active {
	color: #00ff00;
	background: rgba(0, 0, 0, 0.9);
	padding: 6% 8%;
}

ul.main-nav > li {
	display: inline;
	font-size: 18px;
	line-height: 53px;
	margin: 0 16px 0 0;
}

ul.main-nav li a:link, ul.main-nav li a:visited {
	color: #fff;
	text-decoration: none;
}

ul.main-nav li a:hover, ul.main-nav li a:active {
	color: #00ff00;
}

ul.main-nav li a.sub-menu-item {
	background: url(../images/nav-arrow.png) no-repeat right center;
	padding: 0 24px 0 0;
	color: #FFFFFF;
}

ul.main-nav li.main-search {
	float: right;
	background: #fff;
	border: 2px solid #004db2;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	line-height: 0;
	margin: 9px;
	width: 338px;
}

li.main-search input[type=text] {
	border: none;
	margin: 0;
	padding: 7px;
	height: 20px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

button.search-btn {
	border: none;
	background: url(../images/search-icon.png) no-repeat center center;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	float: right;
	display: inline-block;
	margin: 7px;
}

/* Aside */

.advertising-aside img {
	margin: 0 0 0 -27px;
}

h2.aside-title {
	color: #fff;
	font-size: 22px;
	font-weight: 200;
	background: url(../images/aside-title-banner.png) no-repeat left center;
	width: 241px;
	height: 49px;
	margin: 10px 0 0 -27px;
	line-height: 42px;
	padding: 0 0 0 30px
}

ul.aside-menu {
	margin: 0 0 20px;
}

ul.aside-menu > li {
	border-bottom: 1px solid #ddd;
	font-size: 17px;
	position: relative;
}

ul.aside-menu li:last-child {
	border: none;
}

ul.aside-menu > li > a {
	background: url(../images/list-point.png) no-repeat 10px 12px;
	padding: 8px 12px 8px 25px;
	display: inline-block
}

ul.aside-menu > li > a.aside-active, ul.aside-sub-menu li a.aside-active {
	color: #d41b29;
}

ul.aside-sub-menu {
	margin: 0 0 0 30px;
}

ul.aside-sub-menu li a {
	padding: 4px 0;
	display: inline-block;
}

img.delivery-img2 {
	display: none;
}

span.expand {
	background: url(../images/plus-icon.png) no-repeat center center;
	display: inline-block;
	height: 9px;
	width: 9px;
	position: absolute;
	right: 0;
	top: 12px;
	cursor: pointer;
}

span.compress {
	background: url(../images/minus-icon.png) no-repeat center center;
	display: inline-block;
	height: 9px;
	width: 9px;
	position: absolute;
	right: 0;
	top: 12px;
	cursor: pointer;
}

.discount-image {
	width: 30%;
	float: left;
}

.discount-image img {
	width: 100%;
}

.discount-small {
	width: 44px;
	float: left;
}

.discount-image a {
	margin: 20px 0 0;
	display: inline-block;
}

.discount-details {
	width: 65%;
	float: right;
}
.discount-details ul li {
	font-size: 12px;
}

.discount-details ul li.old-price {
	font-size: 14px;
	text-decoration: line-through;
}

.discount-details ul li.discount-price {
	color: #d41b29;
	font-size: 12px
}

.descuentos-aside p {
	clear: both;
	text-align: right;
	font-size: 14px;
}

.contact-details ul li {
	font-size: 20px;
	line-height: 38px;
	padding: 0 0 0 40px;
}

.contact-details ul li.aside-tel {
	background: url(../images/tel-icon.png) no-repeat left center;
}

.contact-details ul li.aside-email {
	background: url(../images/email-icon.png) no-repeat left center;
}

/* Main Content */

.slider-btn-container {
	text-align: center;
}

.slider-btns li {
	display: inline;
	text-indent: -9999px;
	margin: 2px;
}

.slider-btns li a {
	display: inline-block;
	height: 15px;
	width: 15px;
	background: url(../images/slide-btn.png) no-repeat center center;
}

.slider-btns li a.active-slide, .slider-btns li a:hover {
	background: url(../images/slide-btn-active.png) no-repeat center center;
}

h2.main-title {
	color: #2b2b2b;
	font-size: 22px;
	font-weight: 200;
}

.main-products-list li {
	width: 31%;
	float: left;
	margin: 0 2% 40px 0;
	min-height: 330px;
}

.main-products-list li:nth-of-type(3) {
	margin-right: 0;
}

h3.main-product-title {
	font-size: 15px;
}

p.main-product-description {
	font-size: 13px;
	line-height: 16px;
}

.product-prices {
	text-align: center;
}

.product-prices p {
	margin: 0px 0;
	font-size: 11px;
	text-align: left;
}

.product-prices p span.price-con {
	font-weight: 600;
	font-size: 13px;
}

/* Authentication Page */

ul.breadcrumb-list li {
	display: inline;
}

ul.breadcrumb-list li span {
	display: inline-block;
	margin: 0 5px;
}

a.breadcrumb-home {
	display: inline-block;
	text-indent: -9999px;
	background: url(../images/home.png) no-repeat center center;
	width: 13px;
	height: 12px;
	margin: 0 3px 0 0;
}

.authentication-section  {
	padding: 0 80px 80px;
}

.authentication-forms > div.returning-customer {
	float: right;
}

.authentication-forms > div {
	width: 380px;
	float: left;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	padding: 0 0 16px;
	min-height: 236px;
	margin: 0 0 40px
}

h3.form-header {
	background: #000;
	color: #fff;
	margin: 0;
	padding: 10px 16px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 400;
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

.authentication-forms div p, .authentication-forms div form {
	font-size: 13px;
	padding: 16px;
	margin: 0;
}

.authentication-forms label {
	display: block;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 5px;
}

.authentication-forms input[type=text], .authentication-forms input[type=email], .authentication-forms input[type=password], .authentication-forms textarea {
	display: block;
	border: 1px solid #959595;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px !important;
	-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
	box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
	width: 94%;
	margin: 0 0 14px;
}

.authentication-forms input:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

label.form-check, label.form-select {
	margin: 0 0 20px 0;
}

label.form-check input {
	margin: 0 0 0 20px;
}

label.form-select select {
	margin: 0 0 0 20px;
}

.form-btn {
	background: #0c6be8;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 14px;
	font-weight: 500;
	float: right;
}

.form-btn:hover button:hover {
	background: #2884fd;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a.forgot-password {
	margin: 10px 0 0;
	display: inline-block;
}

.form-error {
	float: right;
	color: #e05a65;
	text-transform: none;
	font-size: 13px;
	font-weight: bolder;
}

.form-error-input {
	border: 1px solid #e05a65 !important;
}

.summary-btn-container {
	margin: 20px 0 0;
}

/* Product Page */

.product-image-col {
	width: 48%;
	float: left;
	margin: 0 0 80px 0;
}

.product-details-col {
	width: 46%;
	float: left;
	margin: 0 0 80px 4%;
}

.product-image-container {
	border: 1px solid #ddd;
	text-align: center;
}

.product-image-container a:link img {
	width: 100% !important;
	height: auto !important;
}

a.enlarge-product-btn {
	color: #2b2b2b;
	display: inline-block;
	padding: 10px 46px 10px 14px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: url(../images/enlarge-icon.png) no-repeat 140px center #ddd;
	margin: 0 0 20px;
}

.product-thumbnail-container {
	text-align: center;
	margin: 14px 0;
}

.product-thumbnail-container a img {
	border: 1px solid #ddd;
	height: auto !important;
}

.product-thumbnail-container a.active-thumbnail img, .product-thumbnail-container a img:hover {
	border: 1px solid #444;
}

.product-thumbnail-container a:first-child img {
	float: left;
}

.product-thumbnail-container a:last-child img {
	float: left;
}

.product-details-col h2 {
	font-size: 22px;
	font-weight: 600;
	margin: 0 0 20px;
}

.product-discount-text {
	color: #d41b29;
}

.product-info ul.info-list li {
	background: #2b2b2b;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	display: inline-block;
	padding: 10px 0;
	width: 100px;
	text-transform: uppercase;
}

.product-info  {
	text-align: center;
	margin: 0 0 20px;
}

.product-info ul.info-list li:first-child {
	float: left;
}

.product-info ul.info-list li:last-child {
	float: right;
}

.product-content-details ul li {
	line-height: 26px;
}

.product-content-details ul {
	padding: 0 0 20px 0;
	border-bottom: 1px solid #ddd;
}

.product-content-details ul li {
	list-style-type: disc;
	margin: 0 0 0 18px;
}

.product-content-details ul li.quantity {
	list-style-type: none;
	margin: 0;
}

li.quantity input {
	width: 40px;
	padding: 5px 5px;
	margin: 10px 12px 10px 0;
	border: 1px solid #ddd;
	text-align: center;
}

button.quantity-plus, button.quantity-minus {
	width: 30px;
	padding: 5px;
	text-indent: -9999px;
	border: 1px solid #ddd;
}

li.quantity input:hover, button.quantity-plus:hover, button.quantity-minus:hover {
	border: 1px solid #444;
}

.quantity .product-price {
	font-weight: 600;
	font-size: 22px;
	display: inline-block;
}

.buy-section .product-price span {
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 0 5px;
}

a.add-to-basket {
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 6px 14px;
	font-weight: 500;
	background: #0c6be8;
	float: right;
    display: inline-block;
    margin: 6px 0 0;
}

.add-to-basket:hover {
	background: #2884fd;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.product-details-section {
	float: left;
	margin: 0 0 60px;
}

.product-details-section h2, .product-rotator-section h2 {
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px;
	padding: 0 0 6px;
}

.product-details-section ul li {
	font-size: 14px;
	margin: 0 0 16px;
}

.product-details-section ul li span {
	font-size: 16px;
	font-weight: 600;
}

ul li span.utilities-title {
	font-weight: 600;
	font-size: 16px;
	display: block;
	margin: 0 0 14px;
}

.product-rotator-section {
	position: relative;
	float: left;
	width: 100%;
}

ul.product-rotator {
	text-align: center;
	width: 94%;
	margin: 0 auto;
}

ul.product-rotator li {
	display: inline-block;
	width: 140px;
	margin: 0 10px;
}

ul.product-rotator li p {
	font-size: 22px;
	font-weight: 600;
	text-align: center;
}

ul.product-rotator li p span {
	font-size: 15px;
	font-weight: 200;
}

.product-rotator-section a.rotator-left-btn, .product-rotator-section a.rotator-right-btn {
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.product-rotator-section a.rotator-left-btn {
	background: url(../images/product-arw-left.png) no-repeat center center;
	position: absolute;
	left: 0;
	top: 30%;
}

.product-rotator-section a.rotator-right-btn {
	background: url(../images/product-arw-right.png) no-repeat center center;
	position: absolute;
	right: 0;
	top: 30%;
}

/* Shopping Cart */

.page-container>h2, .page-container>p {
	margin: 0 0 4px;
}

.cart-container {
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	padding: 12px;
	margin: 12px 0;
}

ul.cart-header-list {
	margin: 0 0 16px;
	padding: 0 0 10px;
	border-bottom: 1px solid #d2d2d2;
}

.cart-header-list li {
	display: inline-block;
	font-size: 15px;
	line-height: 40px;
}

li.data-title {
	background: url(../images/data-cart-icon.png) no-repeat left center;
	padding: 0 0 0 50px;
	width: 250px;
	margin: 0 20px 0 0;
}

li.shipping-title {
	background: url(../images/shipping-cart-icon.png) no-repeat left center;
	padding: 0 0 0 60px;
	width: 265px;
}

li.payment-title {
	background: url(../images/payment-cart-icon.png) no-repeat left center;
	padding: 0 0 0 60px;
	width: 220px;
}

.data-title a:link {
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 8px 14px;
	text-align: right;
	font-weight: 500;
	background: #0c6be8;
    margin: 0 0 0 20px;
}

.data-content {
	width: 32%;
	float: left;
}

.delivery-payment-content {
	width: 65%;
	float: right;
}

.delivery-payment-content .delivery-section {
	width: 50%;
	margin: 0 4% 0 0;
	float: left;
}

.delivery-payment-content .payment-section {
	width: 46%;
	float: left;
}

.data-content label {
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 0 5px;
}

.data-content input[type=text], .data-content input[type=email], .data-content input[type=password], .data-content input[type=tel], .data-content textarea {
	display: block;
	border: 1px solid #959595;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 3%;
	-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
	box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
	width: 94%;
	margin: 0 0 14px;
}

.data-content select {
	display: block;
	border: 1px solid #959595;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 3%;
	-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
	box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
	margin: 4px 0 14px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background: url(../images/select-icon.png) no-repeat 94% center;
}

.data-content label.cart-check {
	text-transform: inherit;
}

label.cart-check input.form-check {
	margin: 0 10px 0 0;
}

.data-content form {
	margin: 0 0 20px;
}

.address-content>a:link {
	font-size: 13px;
	color: #0c6be8;
	width: 48%;
	text-align: center;
	display: inline-block;
	padding: 10px 0;
}

.address-content a.active-tab {
	color: #2b2b2b;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;
}

.address-content form {
	margin: 10px 0 0;
}

.delivery-options li {
	background: #efefef;
	border-radius: 8px;
	padding: 10px 20px;
}

.delivery-options li input, .delivery-options li p {
	float: left;
	display: inline;
	margin: 0;
}

.delivery-options li input {
	margin: 12px 20px 0 0;
}

.delivery-options li p span {
	display: block;
}

.payment-options li {
	margin: 0 0 10px;
}

.payment-options li p {
	width: 80%;
	float: right;
	margin: 0 0 6px;
}

.summary-section {
	clear: both;
}

.summary-section h3 {
	font-size: 15px;
	background: #efefef;
	border-radius: 8px;
	padding: 10px 20px;
}

.summary-table th:first-child {
	width: 50px;
}

.summary-table th:nth-child(2) {
	text-align: left;
}

.summary-table td:nth-child(2) {
	text-align: left;
	font-size: 13px;
}

.summary-table th:nth-child(3) {
	text-align: right;
	width: 116px;
}

.summary-table td:nth-child(3) {
	text-align: right;
}

.summary-table th:nth-child(4), .summary-table td:nth-child(4) input {
	width: 32px;
	margin: 0 0 0 20px;
}

.summary-table th:nth-child(5) {
	text-align: right;
}

.summary-table tbody tr td:first-child img {
	border: 1px solid #ccc;
	width: 50px;
	margin: 0 12px 0 0;
}

.summary-table tbody tr td a:link {
	color: #0c6be8;
}

.summary-table td:nth-child(5) {
    width: 80px;
    text-align: right;
}

.summary-table td:nth-child(4) {
    width: 75px;
}

.summary-table td:nth-child(4) img {
	float: right;
}

.summary-table td:nth-child(4) input {
	float: left;
	text-align: center;
}

table.summary-table tbody tr td {
    padding: 0 0 20px;
}

.summary-totals td:nth-child(1) {
	text-align: right;
	font-weight: bold;
}

.summary-totals td:nth-child(2) {
	text-align: right;
	font-size: 16px;
	width: 100px;
}

div textarea.cart-textarea {
	display: block;
	border: 1px solid #959595;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 2%;
	-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
	box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.5);
	width: 96%;
	margin: 0 0 14px;
	min-height: 80px;
	max-width: 575px;
	max-height: 180px;
}

.summary-section label.form-check input {
	margin: 0 10px 0 0;
}

.summary-btn-container button.cart-continue-btn {
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 30px;
	font-weight: 500;
	float: left;
	background: #fff;
	border: 1px solid #d2d2d2;
	color: #0c6be8;
}

.summary-btn-container button.cart-confirm-btn {
	background: url(../images/cart-btn.png) no-repeat 14px center #0c6be8;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 20px 10px 50px;
	font-weight: 500;
	float: right;
}


/* Footer */

footer.main-footer {
	background: #0c6be8;
	color: #fff;
	padding: 20px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

.footer-subscribe p, .subscribe-form {
	width: 52%;
	float: left;
}

.footer-subscribe p {
	font-size: 22px;
	color: #fff;
	margin: 0 2% 0 0;
}

section.footer-subscribe>p {
    width: 46%;
    line-height: 22px;
}

.subscribe-input input[type=text] {
	border: none;
	margin: 0;
	padding: 7px 2%;
	height: 20px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	border: 2px solid #004db2;
	width: 74%;
	float: left;
	color: #2b2b2b;
}

.subscribe-btn {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #000;
	color: #fff;
	border: none;
	padding: 9px 2%;
	margin: 0 0 0 2%;
}

.subscribe-checkbox {
	margin: 4px 0 0;
}

.subscribe-checkbox span {
	font-size: 14px;
	margin: 0 0 0 3px;
}

.subscribe-checkbox span a:link, .subscribe-checkbox span a:visited {
	color: #fff;
	text-decoration: underline;
}

.subscribe-checkbox span a:hover, .subscribe-checkbox span a:active {
	color: #00ff00;
	text-decoration: underline;
}

.footer-links {
	width: 18%;
	float: left;
	margin: 0 2% 0 0;
}

.footer-links:nth-of-type(4) {
	width: 20%;
}

.footer-links:last-child {
	margin: 0;
}

.footer-links h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
}

.footer-links ul {
	margin: 0;
}

.footer-links ul li {
	margin: 0 0 4px;
	line-height: 16px;
}

.footer-links ul li a:link, .footer-links ul li a:visited {
	color: #fff;
	font-size: 14px;
	font-weight: 200;
}

.footer-links ul li a:hover, .footer-links ul li a:active {
	color: #00ff00;
}

ul.social-links li {
	display: inline;
	margin: 0 3px 0 0;
}


/*
   * Add this if you want to disable IE10's implementation
   * of the winking eye in favor of your own.
   * Alternatively, you could set the 'innerToggle' option to
   * false for that browser only.
   */

::-ms-reveal {
	display:none !important;
}
/*
   * This toggle style shows a winking "eye-con" (nyuk, nyuk).
   * Open eye means "show," closed eye means "hide."
   */
.hideShowPassword-toggle {
	background: url(../images/wink.svg) no-repeat 0 center;
	cursor: pointer;
	height: 100%;
	overflow: hidden;
	text-indent: -9999em;
	width: 44px;
	border: none;
}

.hideShowPassword-toggle-hide {
	background-position: -44px center;
}

.prodimg {
	width: 100% !important;
	height: auto !important;
}

/* ==========================================================================
MEDIA QUERIES
========================================================================== */

@media only screen and (max-width: 1024px) {

	section.main-wrapper {
		width: 96%;
	}

	.main-content {
    	width: 70%;
		margin: 0;
		float: left;
	}

	.main-sidebar {
    	width: 25%;
		margin: 0 5% 0 0;
	}

	.logo-section {
		width: 45%;
	}

	.logo-section h1.logo a {
		width: 90%;
		margin: 40px 4%;
		background-size: contain;
	}

	.header-labels {
		width: 25%;
	}

	.header-labels img {
		width: 100%;
	}

	.header-details {
		padding: 20px 2% 0;
		width: 25%;
	}

	.nav-bar {
		width: 100%;
		margin: 5px 0 0 0px;
		background-size: 108%;
		position: relative;
		background: #0c6be8;
		height: auto;
	}

	ul.main-nav li.main-search {
		width: 246px;
	}

	.slider-container img {
		width: 100%;
	}

	h2.aside-title {
	    font-size: 18px;
	    background: #0c6be8;
	    width: 95%;
	    height: auto;
	    margin: 10px 0 10px -10px;
	    padding: 0 0 0 20px;
	    -webkit-border-radius: 0 10px 10px 0;
		border-radius: 0 10px 10px 0;
	}

	.advertising-aside {
	    background: #0c6be8;
	    -webkit-border-radius: 0 10px 10px 0;
		border-radius: 0 10px 10px 0;
		margin: 0 0 20px;
	}

	img.delivery-img1 {
		display: none;
	}

	img.delivery-img2 {
		display: block;
		margin: 0 0 0 -10px;
		width: 100%;
	}

	ul.main-products-list li img {
		width: 100%;
	}

	.authentication-forms > div {
    	width: 45%;
	}

	.product-image-container img {
    	width: 100%;
	}

	.product-thumbnail-container img {
    	width: 30%;
	}

	.product-info ul.info-list li {
    	font-size: 13px;
		width: 30%;
		font-weight: 400;
	}

	.product-content-details ul li {
    	line-height: 18px;
		margin: 0 0 10px 18px;
	}

	a.add-to-basket {
	    font-size: 11px;
	    padding: 6px 0;
	    width: 24%;
	    text-align: center;
	}

	.quantity .product-price {
    	font-size: 18px;
	}

	li.quantity input {
	    width: 30px;
	    margin: 10px 6px 10px 0;
	}

}

@media only screen and (max-width: 950px) {

	ul.main-nav li.main-search {
		position: absolute;
		right: 0;
		top: 0;
	}

	ul.main-nav li {
		font-size: 15px;
		margin: 0 32px 0 0;
	}
}

@media only screen and (max-width: 800px) {

	ul.main-nav li {
	    display: block;
	}

	a.menu-link {
		display: inline-block;
		padding: 0 30px;
		color: #fff;
		margin: 14px 0;
	}

	ul.main-nav li a:link, ul.main-nav li.main-search {
		display: none;
	}

	.authentication-section {
    	padding: 0 20px 80px;
	}

	.authentication-forms > div {
    	width: 100%;
		float: none;
	}

	.product-details-col, .product-image-col {
    	width: 98%;
		float: none;
		margin: 0 0 40px;
	}

	.product-thumbnail-container {
		min-height: 112px;
	}

	.data-content, .delivery-payment-content {
		width: 100%;
		float: none;
	}

	div textarea.cart-textarea {
		max-width: none;
	}

	.data-content label {
		clear: right;
	}

}


@media only screen and (max-width: 650px) {

	header.main-header {
    	position: relative;
	}

	.logo-section {
		width: 100%;
		float: none;
	}

	.header-labels, .header-details {
		width: 41%;
		margin: 0 2%;
	}

	.header-labels img:first-child {
    	position: absolute;
		top: -14px;
		right: 15px;
		width: 220px;
	}

	ul.aside-menu li {
    	font-size: 12px;
		line-height: 16px;
	}

	.contact-details ul li {
    	font-size: 15px;
		line-height: 20px;
		padding: 0 0 0 28px;
		margin: 0 0 10px;
	}

	.contact-details ul li.aside-tel, .contact-details ul li.aside-email {
		background-size: 20px;
	}

	.payment-logos img {
		width: 100%;
	}

	.subscribe-input input[type=text] {
    	width: 68%;
	}

	.subscribe-btn {
		padding: 7px 2%;
	}

	section.footer-subscribe p, div.subscribe-form {
    	width: 100%;
		float: none;
		margin: 0 0 10px;
		font-size: 18px;
	}

	.footer-links {
		width: 98%;
		float: none;
	}

	.footer-links h4 {
		margin: 30px 0 10px;
	}

}


@media only screen and (max-width: 480px) {

	.header-labels img:last-child {
    	display: none;
	}

	.main-sidebar {
    	width: 35%;
		margin: 0 5% 0 0;
	}

	.main-content {
    	width: 60%;
	}

	.logo-section {
		text-align: center;
	}

	.logo-section h1.logo a {
		margin: 40px 0 20px;
	}

	.logo-section, .header-labels, .header-details {
		width: 96%;
		float: none;
		padding: 0;
		margin: 0 2%;
	}

	h2.aside-title {
    	font-size: 16px;
		width: 100%;
		padding: 0 0 0 14px;
	}

	.main-products-list li {
    	width: 96%;
		float: none;
		margin: 0 2% 40px;
	}

}



