.navigation-bar {
  height: 65px;
  width: 102%;
  margin: 2px 0 0 -17px;
  display:flex;
} 

.navigation-bar-1 {
  background: url("/images/main-nav-bg-0.png") no-repeat center center;
  height: 65px;
  width: 30px;
}

.navigation-bar-2 {
  background-color: #0C6BE8;
  height: 52px;
  width: 100%;
  margin-top: 2px;

}

.navigation-bar-3 {
  background: url("/images/main-nav-bg-2.png") no-repeat center center;
  height: 65px;
  width: 30px;
}


.main-nav {
  margin: 0;
  padding: 0 30px;
  position: relative;
}

.main-nav > li {
  display: inline;
  font-size: 24px;
  line-height: 53px;
  margin: 0 16px 0 0;
}

.main-nav li a.sub-menu-item {
  background: url('/images/nav-arrow.png') no-repeat right center;
  padding: 0 24px 0 0;
  color: #FFFFFF;
}

.sub-menu-list {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  width: 180px;
  position: absolute;
  top: 36px;
  left: 328px;
  z-index: 1;
}

ul.main-nav li a:link, ul.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
}

ul.main-nav li.main-search {
  float: right;
  background: #fff;
  border: 2px solid #004db2;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  line-height: 0;
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 4px;
  margin-bottom: 9px;
  width: 500px;
  height: 38px;
}

li.main-search input[type=text] {
  border: none;
  margin: 0;
  padding: 7px;
  height: 22px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 446px;
  font-size: 30px;
}

button.search-btn {
  border: none;
  background: url('/images/search-icon.png') no-repeat center center;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 7px;
}





