@import 'newcustomer/newcustomer';
@import 'existingcustomer/existingcustomer';

.authentication {

  background-color: lightgreen;
  width: 100%;
  text-align: center;
  margin: 40px 100px;
  

  .authentication-main-title {
    color: #2b2b2b;
    font-size: 22px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 20px;
  }

  .authentication-forms {
    display: flex;
  }

}

